{% extends 'layoutBack.html.twig' %}
{% block stylesheets %}
<script src="{{ asset("bundles/ESPRITPIDEV/UserExpBundle/js/highcharts.js") }}"></script>
<script src="{{ asset("bundles/ESPRITPIDEV/UserExpBundle/js/exporting.js") }}"></script>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Users who own animals</div>
                <div class="panel-body">





                    <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

                </div>
            </div>
        </div>
    </div><!--/.row-->


    <script type="text/javascript">
        {{ chart(piechart) }}
    </script>
{% endblock %}
