{% extends 'layoutBack.html.twig' %}

{% block body %}
    <h1>Complaints list</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Advanced Table</div>
                <div class="panel-body">
                    <table data-toggle="table" data-url="{{ asset('bundles/ESPRITPIDEV/UserExpBundle/tables/seencomplaints.json') }}"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true" >Highlight</th>
                            <th data-field="Username" data-sortable="true">Username</th>
                            <th data-field="Useremail" data-sortable="true">User email</th>
                            <th data-field="Type"  data-sortable="true">Type</th>
                            <th data-field="Datetime"  data-sortable="true">Datetime</th>
                            <th data-field="Content" data-sortable="false"> </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <ul>
        <li>
            <a href="{{ path('complaints_new') }}">Create a new complaint</a>
        </li>
    </ul>
{% endblock %}
